<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_modified.name %>
</p>

<%= link_to 'Edit', edit_user_modified_path(@user_modified) %> |
<%= link_to 'Back', user_modifieds_path %>
